<div class="alert alert-success" role="alert" [hidden]="!modificacionPelicula">
  La pelicula fue modificada correctamente
</div>
<table class="table table-bordered table-hover" [hidden]="peliculaSeleccionada">
  <thead>
    <tr>
      <th>Id</th>
      <th>Título</th>
      <th>Género</th>
      <th>Director</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pelicula of peliculas" (click)="editarPelicula(pelicula.id)">
      <td>{{pelicula.id}}</td>
      <td>{{pelicula.titulo}}</td>
      <td>{{pelicula.genero}}</td>
      <td>{{pelicula.director}}</td>
      <td><img [src]="pelicula.foto" style="height:80px"></td>
    </tr>
  </tbody>
</table>

<div *ngIf="peliculaSeleccionada && peliculaSeleccionada > 0">
	<app-detalle [id]="peliculaSeleccionada" (cancelar)="cancelarEdicion($event)" (guardar)="peliculaGuardada($event)"></app-detalle>
</div>